{{#if cart}}
<h1 style="color: darkred; display: flex; justify-content: center;">Carrito N°{{cart._id}}</h1>
{{#if cart.products.length}}
<div style=" display: flex; flex-wrap:wrap; gap: 20px; justify-content: center;">
    {{#each cart.products}}
    <div class="card">
        <h3><strong>Nombre del producto:</strong> {{this.product.title}}</h3>
        <p><strong>Código:</strong> {{this.product.code}}</p>
        <p><strong>Cantidad:</strong> {{this.quantity}}</p>
        <p><strong>Precio:</strong> ${{this.product.price}}</p>
    </div>
    {{/each}}
</div>
<form action="http://localhost:8080/api/carts/{{cart._id}}/purchase"
    style="padding-top: 50px;display: flex; gap: 40px; justify-content: center;" method="post">
    <button type="submit" id="checkout" class="button" style="">Finalizar Compra</button>
</form>
{{else}}
<h1 style="color: black; display: flex; justify-content: center;">El carrito no tiene productos!</h1>
{{/if}}
{{else}}
<h1 style="color: darkred; display: flex; justify-content: center;">El carrito no existe!</h1>
{{/if}}