{{#if first_name}}
<div style="color: #572727; display: flex; align-items: center; justify-content: space-around;">
    <div style="display: flex; align-items: center; gap: 20px;">
        <p style="font-size: 20px; font-weight: bold;">Bienvenido {{first_name}} {{last_name}}!</p>
        <p style="font-size: 14px; color: black;">Rol: {{admin}}</p>
    </div>
    <div style="display: flex; gap: 20px; align-items: center;">
        {{#if (eq admin "Admin") }}
        <a id="view-users" class="button" style="padding-top: 10px;" href="/users">Ver
            Usuarios</a>
        {{/if}}
        {{#if (eq admin "User") }}
        <a id="view-cart" class="button" style="padding-top: 10px;" href="/carts/{{cartId}}">Ver
            Carrito</a>
        {{/if}}
        {{#if (eq admin "Premium") }}
        <a id="view-cart" class="button" style="padding-top: 10px;" href="/carts/{{cartId}}">Ver
            Carrito</a>
        {{/if}}
        <a id="view-profile" class="button" style="padding-top: 10px;" href="/profile">Ver Perfil</a>
        <form action="/logout" method="get">
            <button type="submit" id="logout" class="button" style="height: 30px;">Logout</button>
        </form>
    </div>
</div>
{{/if}}
<h1 style="color: #572727; display: flex; justify-content: center;">Lista de productos</h1>
<div id="products-list"
    style=" display: flex; flex-wrap:wrap; gap: 50px; justify-content: center; width: 80%; margin: auto;">
    {{#each products.payload}}
    <div class="card">
        <img src="{{this.thumbnails.[0]}}" alt="Imagen del producto"
            style="width: 100%; object-fit: cover; border-radius: 12px; margin-top: 10px">
        <h3><strong>Nombre del producto:</strong> {{this.title}}</h3>
        <p><strong>Descripción:</strong> {{this.description}}</p>
        <p><strong>Precio:</strong> ${{this.price}}</p>
        <p><strong>Código:</strong> {{this.code}}</p>
        <p><strong>Categoría:</strong> {{this.category}}</p>
        <p><strong>Stock: </strong> {{this.stock}} unidades</p>
        {{#if (eq this.stock 0) }}
        <button class="button" disabled style="background-color: red; color: white; cursor:not-allowed">Sin
            stock</button>
        {{else}}
        {{#if (eq ../admin "User") }}
        <button id="add-to-cart" class="button" data-productid="{{this._id}}" data-cartid="{{../cartId}}">Agregar al
            carrito</button>
        {{/if}}
        {{#if (eq ../admin "Premium") }}
        <button id="add-to-cart" class="button" data-productid="{{this._id}}" data-cartid="{{../cartId}}">Agregar al
            carrito</button>
        {{/if}}
        {{/if}}
    </div>
    {{/each}}
</div>
<div id="pagination" style="display: flex; justify-content:center; margin-top: 20px; align-items: center;">
    {{#if products.hasPrevPage}}
    <a style="padding-right: 20px; color:#572727;" href={{products.prevLink}}>
        << Anterior</a>
            {{/if}}
            <p style="font-size: 20px; font-weight: bold;">Página {{products.page}}</p>
            {{#if products.hasNextPage}}
            <a style="padding-left: 20px; color:#572727;" href={{products.nextLink}}>Siguiente >></a>
            {{/if}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/products.js"></script>